# Jupyter checkpoints
.ipynb_checkpoints/

# Spark / temp / big junk
spark-warehouse/
checkpoint/
.derby/
.metastore/
*.crc
*.log

# OS junk
.DS_Store
Thumbs.db

# future large outputs (parquet etc.)
*.parquet
*.orc
*.avro
*.snappy
