@'
# OS / IDE
.DS_Store
*.log
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/
.env

# Spark outputs & raw data
data/raw/
output/
spark-warehouse/
metastore_db/
.derby/
.temp/
.parquet/
*.crc

# Checkpoints / staging
checkpoint/
.tmp/
'@ | Out-File -Encoding utf8 .gitignore